@import "../deps/meta";

.events {
	width: 100%;
	margin-bottom: 2rem;

	&.events--home {
		margin-bottom: 0;
	}

	@media screen and (min-width: $breakpoint-phone) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		font-weight: $font-weight-bold;
		text-decoration: none;
		padding-right: 1rem;
		width: 100%;
		background-color: whitesmoke;
		padding: 1.5rem;
		margin-bottom: 1rem;
		border-radius: $radius-small;

		@media screen and (min-width: $breakpoint-tablet) {
			width: calc(50% - 0.5rem);
		}

		@media screen and (min-width: $content-trigger) {
			.events--home & {
				width: 100%;
				padding: 1rem;
				margin-bottom: 1rem;
			}
		}

		&__date {
			color: $color-lightgray;
		}

		&__title {
			line-height: 1.5;
			font-size: 1.5rem;
		}

		&__time	{
			color: $color-blue;
		}
	}
}