@import "../deps/meta";

.event {
	width: 100%;
	margin-bottom: 2rem;

	&.events--home {
		margin-bottom: 0;
	}

	@media screen and (min-width: $breakpoint-phone) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__details {
		font-weight: $font-weight-bold;
		text-decoration: none;
		padding-right: 1rem;
		width: 100%;
		background-color: whitesmoke;
		padding: 1.5rem;
		margin-bottom: 1rem;
		border-radius: $radius-small;

		@media screen and (min-width: $content-trigger) {
			.events--home & {
				width: 100%;
				padding: 1rem;
				margin-bottom: 1rem;
			}
		}

		&__title {
			line-height: 1.5;
			font-size: 1.5rem;
			margin-bottom: 0.5rem;
		}

		&__table {
			display: table;

			&__row {
				display: table-row;
			}

			&__key, &__value {
				display: table-cell;
				padding-bottom: 0.25rem;
			}

			&__value {
				font-weight: $font-weight-normal;
			}

			&__key {
				padding-right: 0.5rem;
				color: $color-lightgray;
			}
		}
	}
}

.event-nothing {
	background-color: whitesmoke;
	text-align: center;
	border-radius: $radius-small;
	padding: 5rem 1rem;
	font-size: 1.15rem;
	font-weight: $font-weight-bold;
}