@import '../deps/meta';

footer {
	background-color: $color-gray;
	position: relative;
	color: white;
	display: block;
	width: 100%;
	padding: 4rem 0;
}

.footer-container {
	width: 100%;
	margin: 0 auto;
	max-width: $page-width;
	padding: 0 $page-padding;

	.footer--home & {
		max-width: $content-width;
		padding: 0 $content-padding;
	}
}

.footer-columns__item {
	margin-bottom: 4rem;
}

@media screen and (min-width: $breakpoint-tablet) {
	.footer-columns {
		display: flex;
		flex-wrap: wrap;

		&__item {
			margin-right: 4rem;
	
			&:last-child {
				margin-right: 0;
			}
		}
	}

	.footer-times {
		display: flex;
		flex-wrap: wrap;

		&__item {
			margin-right: 2rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}