@import "../deps/meta";

$menu-height: 4rem;
$menu-height-desktop: 8rem;
$menu-item-height: 1.5rem;
$menu-toggle-height: 2rem;
$menu-logo-height: 3rem;

#mobile-nav-height {
	height: $menu-height;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1000;
	width: 1px;
}

body {
	padding-top: $menu-height;

	&.js-nav-open {
		overflow: hidden;
	}

	@media screen and (min-width: $breakpoint-phone) {
		padding-top: 0;

		&.js-nav-open {
			overflow: initial;
		}
	}
}

header {
	position: relative;
}

.top-notification {
	display: block;
	text-decoration: none;
	background-color: $color-red;
	color: white;
	margin: 0;
	padding: 1rem;
	font-weight: $font-weight-bold;
	text-align: center;

	@media screen and (min-width: $breakpoint-tablet) {
		padding: 0.5rem;
	}

	&__close {
		float: right;
		display: none;

		@media screen and (min-width: $breakpoint-phone) {
			display: block;
		}

		.feather {
			color: white;
		}
	}
}

#header-hero {
	width: 100%;
	background-position: center;
	background-size: cover;
	padding: 4rem 0;

	#header-hero__logo {
		display: block;
		margin: 0 auto;
		width: 75%;
		min-width: 300px;
		max-width: 40rem;
		height: auto;
	}
}

.main-nav {
	background-color: white;
	font-family: $font-asap;
	font-weight: $font-weight-bold;
	letter-spacing: 0.025rem;
	font-size: 1.25rem;
	line-height: $menu-item-height;
	position: relative;
	height: $menu-height;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	//box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	transition: height 0.15s $ease-sudden, top 0.25s, box-shadow 0.5s;
	overflow: hidden;

	.js-nav-open & {
		.main-nav__links {
			display: block;
		}
		
		height: 100vh;
	}

	.js-nav-hidden & {
		top: -$menu-height;
	}

	&--shadow {
		box-shadow: $shadow-normal;
	}

	@media screen and (min-width: $breakpoint-phone) {
		position: initial;
		overflow: initial;
		display: flex;
		align-items: center;
		height: auto;
		
		&--shadow { box-shadow: none; }

		.js-nav-open & { height: auto; }
	}

	@media screen and (min-width: $breakpoint-tablet) {
		justify-content: center;
	}

	.main-nav__icons {
		display: flex;
		align-items: center;
		width: 100%;
		height: $menu-height;

		@media screen and (min-width: $breakpoint-phone) {
			width: auto;
			height: $menu-height-desktop;
		}
	}

	.main-nav__logo {
		display: block;
		float: left;
		height: $menu-logo-height;
		width: auto;
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.main-nav__toggle {
		display: block;
		margin-left: auto;
		height: $menu-toggle-height;
		width: auto;
		margin-right: 1rem;

		@media screen and (min-width: $breakpoint-phone) {
			display: none;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		&.main-nav__links {
			display: none;
			text-align: right;
			padding-bottom: 2rem;
			overflow-x: hidden;
			overflow-y: scroll;
			position: absolute;
			top: $menu-height;
			width: 100%;
			height: 100%;
			
			@media screen and (min-width: $breakpoint-phone) {
				position: initial;
				display: block;
				margin-right: 1rem;
				padding-bottom: 0;
				overflow: visible;
				width: auto;
				height: auto;
			}
		}

		li {
			display: block;
			width: 100%;
			float: left;
			margin: 0;
			text-align: left;
			position: relative;
			font-size: 1.5rem;
			padding-left: 2rem;
			padding-top: 2rem;

			a {
				text-decoration: none;
				transition: color 0.25s;
				white-space: nowrap;
				outline: none;

				&:hover, &:focus { color: $color-blue; }
			}

			&.menu-item-has-children {
				& > a::after {
					content: "▼";
					color: $color-lightergray;
					display: inline-block;
					font-size: 0.5em;
					vertical-align: baseline;
					transform: translateY(-0.25em);
					margin-left: 0.25rem;
				}

				.sub-menu { display: none; }
				
				&.active {
					.sub-menu { display: block; }
					
					@media screen and (max-width: $breakpoint-phone) {
						& > a::after {
							content: "▲";
						}
					}
				}
			}


			@media screen and (min-width: $breakpoint-phone) {
				display: inline-block;
				width: auto;
				margin: 0 0.5rem;
				font-size: 1em;
				padding: 0;
				float: none;
				line-height: 1.5;

				.sub-menu {
					@at-root {
						@keyframes sub-menu-anim {
							from {
								transform: scale(0);
							}

							to {
								transform: scale(1);
							}
						}
					}

					position: absolute;
					background-color: $color-gray;
					color: white;
					border-radius: $radius-small;
					padding: 1rem;
					right: 0;
					margin-top: 0.75rem;
					z-index: 9999;
					box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);

					transform-origin: 100% 0;

					animation-name: sub-menu-anim;
					animation-duration: 0.25s;
					animation-timing-function: $ease-sudden;

					li {
						margin: 0;
						margin-bottom: 0.5rem;
						width: 100%;
						text-align: left;
						&:last-child { margin-bottom: 0; }

						a {
							display: inline-block;
							width: 100%;
						}
					}
				}

				&.menu-item-has-children.active {
	
					&::before {
						content: "";
						display: block;
						position: absolute;
						top: 100%;
						left: 0;
						right: 0;
						height: 0.75rem;
						background-image: url(../../media/up-arrow.svg);
						background-size: contain;
						background-repeat: no-repeat;
						background-position: center center;
					}
				}
			}
		}
	}
}
