#pre-footer {
	min-height: 100vh;
	min-height: 100vh;
}

.page {
	width: 100%;
	padding: 0 $page-padding;

	@media screen and (min-width: $breakpoint-tablet) {
		width: 100%;
		max-width: $page-width;
		margin: 0 auto;

	}
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	//max-width: 100%;

	& .flex-row__item {
		flex: 1;
	}
}