@import "../deps/meta";

.post-date {
	display: block;
	font-weight: $font-weight-bold;
	margin-bottom: 0.5rem;
	color: $color-lightgray;
	text-transform: uppercase;
}

.post-title {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 3rem;
	padding: 0 2rem;
	max-width: $page-width;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: $breakpoint-phone) {
		margin-top: 0;
	}
}