/* SGC Bellingham theme */
/* Created by Michael Savchuk (With code from Eric Meyer's reset.css */

@import "deps/reset";
//@import "deps/simplegrid";

$font-fira-sans: "Fira Sans", Arial, Helvetica, sans-serif;
$font-arial: Arial, Helvetica, sans-serif;

$color-gray: #1b191a;
$color-lightgray: #595b5c;
$color-blue: #00a1ab;
$color-lightblue: #72ced4;

$radius-small: 0.25rem;

/* Base styles */

* { box-sizing: border-box; }

html {
	font-family: $font-arial;
	font-size: 16px;

	@media screen and (min-width: 3840px) {
		font-size: 20px;
	}

	@media screen and (max-width: 500px) {
		font-size: 12px;
	}
}

body {
	margin: 0;
	padding: 0;
	min-width: 320px;
}

h1, .h1, h2, .h2, h3, .h3 {
	font-family: $font-fira-sans;
	margin: 0;
	margin-bottom: 0.5rem;
}

h1, .h1 {
	font-size: 2rem;
	line-height: 2.5rem;
	margin: 0;
	margin-bottom: 0.5rem;
}

h2, .h2 {
	font-size: 1.5rem;
	line-height: 1.75rem;
}

h3, .h3 {
	font-size: 1rem;
	line-height: 1rem;
}

p {
	line-height: 150%;
	margin: 0;
	margin-bottom: 0.5rem;
	max-width: 80ch;
}

/* Button */

button, .button, input[type="button"], input[type="submit"] {
	display: inline-block;
	border-radius: 0.25rem;
	border: none;
	background: linear-gradient($color-gray, $color-lightgray);
	background-size: 1px 5rem;
	//background-position: 0 0;
	color: white;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: 1rem;
	padding: 0 1rem;
	text-decoration: none;
	cursor: pointer;
	margin: 0;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	font-family: $font-fira-sans;
	letter-spacing: 0.075rem;
	text-transform: uppercase;
	transition: background 0.5s, color 0.5s, box-shadow 0.25s, transform 0.25s;
	transform: none;

	&.button--blue {
		background: linear-gradient($color-blue, $color-lightblue);
		background-size: 1px 5rem;
	}

	&.button--white {
		background: linear-gradient(transparent, $color-gray);
		border: 0.15rem solid white;
		line-height: 2.2rem;
		background-size: 1px 5rem;
		color: white;
	}

	&.button--wide {
		display: block;
	}

	&:hover, &:focus {
		background-position: 0 -2.5rem;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
		transform: scale(1.005);
		outline: none;
	}

	&:active {
		transform: scale(0.95);
	}
}

/* Forms */
label {
	display: block;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

label > input:last-child {
	margin-bottom: 0;
}

input[type="text"], input[type="email"], textarea, select {
	display: inline-block;
	margin: 0;
	margin-bottom: 0.5rem;
	margin-right: 0.5rem;
	border-radius: 0.25rem;
	border: 0.125rem solid $color-lightgray;
	font-family: $font-arial;
	transition: border-color 0.25s, box-shadow 0.25s;
	font-size: 1rem;

	&:active, &:focus {
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
		outline: none;
		border-color: $color-gray;
	}
}

input[type="text"], input[type="email"], select {
	height: 2.5rem;
	line-height: 2.5rem;
	padding-left: 0.5rem;
}

textarea {
	display: block;
	width: 100%;
	resize: vertical;
	min-height: 8rem;
	padding: 0.5rem;
}

/* Lists */

ul, ol {
	margin: 0;
	margin-bottom: 0.5rem;
	margin-left: 2rem;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

li {
	margin-bottom: 0.25rem;
}

/* Header */
#header-hero {
	position: relative;
	width: 100%;
	min-height: 20rem;
	max-height: 50vh;
	height: 50vh;
	text-align: center;
}

#header-hero svg {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.header__logo {
	position: absolute;
	text-align: left;
	margin-left: 5rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-shadow: 0 0 2rem white;

	& h1 {
		font-size: 4rem;
		line-height: 4rem;
		display: inline-block;
		margin: 0;
	}

	& h2 {
		display: inline-block;
		font-size: 1.25rem;
		line-height: 1.25rem;
		text-align: left;
		margin: 0;
	}

	& img {
		position: absolute;
		width: 8rem;
		left: -9rem;
		top: -4.5rem;
	}
}

@keyframes live-notification {
	from {
		transform: scale(1);
		opacity: 0.75;
	}

	to {
		transform: scale(1.5);
		opacity: 0;
	}
}

@keyframes live-dot {
	0% { opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}

header nav {
	width: 100%;
	text-align: center;
	padding: 2rem 0;
	
	& ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: inline-block;

		& a {
			color: $color-gray;
			text-decoration: none;
		}

		& li {
			display: inline-block;
			margin: 0;
			padding: 0;
			margin-left: 1rem;
			padding: 0 0.5rem;
			height: 2rem;
			line-height: 2rem;
			font-family: $font-fira-sans;
			text-transform: uppercase;
			font-size: 1.25rem;
			letter-spacing: 0.075rem;
			border-radius: 0.25rem;
			transition: background 0.25s, color 0.25s;

			&:hover {
				background: $color-lightgray;
				color: white;
			}

			&.current {
				background: $color-lightgray;
				color: white;
			}

			&.live {
				background: red;
				color: white;
				position: relative;
				z-index: 1;

				&::before {
					content: "â—";
					animation-name: live-dot;
					animation-duration: 2s;
					animation-iteration-count: infinite;
				}

				&::after {
					content: "";
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					border: 1rem solid red;
					border-radius: inherit;
					animation-name: live-notification;
					animation-duration: 1s;
					animation-iteration-count: infinite;
					z-index: -1;
				}
			}
		}
	}
}

/* Layout */
.page {
	width: 90%;
	max-width: 64rem;
	margin: 0 auto;
}

.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 100%;

	& .flex-row__item {
		flex: 1;
	}
}

/* Home */

#heading {
	height: 25rem;
	width: 100%;
	margin-bottom: 1rem;
}

#heading__slideshow {
	position: relative;
	width: 100%;
	height: 100%;
	float: left;
	background-color: $color-gray;
	border-radius: $radius-small;
}

@keyframes fade-in {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes go-up {
	from {
		transform: translateY(1rem);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

.heading__slideshow__slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: inherit;
	display: none;

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0.2;
		z-index: 2;
		border-radius: inherit;
	}

	&.heading__slideshow__slide--current {
		display: block;
		animation-name: fade-in;
		animation-duration: 1s;

		& h1 {
			animation-name: go-up;
			animation-duration: 0.5s;
		}
	}

	& .heading__slideshow__slide__content {
		color: white;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		text-align: center;
		z-index: 3;
	}

	& a {
		color: white;
		font-weight: bold;
	}
}

#heading__events {
	width: 25%;
	float: left;
	padding-left: 1rem;

	& ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
	}

	& li {
		margin-bottom: 1rem;
	}

	& p {
		font-family: $font-fira-sans;
		margin: 0;
		color: $color-lightgray;
		line-height: 80%;
	}

	& h2 {
		font-size: 1.15rem;
	}

	& a {
		color: $color-gray;
	}
}

#general-info {
	background-color: whitesmoke;
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 0.25rem;
	text-align: center;

	& .general-info__item-container {
		display: inline-block;
		text-align: left;
	}

	& .general-info__item {
		float: left;
		margin-right: 1rem;
	}

	p:last-child {
		margin-bottom: 0;
	}
}

#map {
	height: 20rem;
	background-color: black;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#big-links {
	width: 100%;
	display: block;

	@media screen and (min-width: 640px) {
		display: flex;
	}
}

.big-link {
	display: block;
	flex: 1;
	background-color: $color-blue;
	border-radius: $radius-small;
	color: white;
	text-decoration: none;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	font-family: $font-fira-sans;
	height: 20rem;
	position: relative;
	background-size: cover;
	background-position: center center;
	transition: transform 0.25s, box-shadow 0.25s;
	margin-right: 0;

	@media screen and (min-width: 640px) { margin-right: 1rem; }

	&:last-child {margin-right: 0;}

	&:hover, &:focus {
		transform: scale(1.01);
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
	}

	&:active {
		transform: scale(0.98);
	}

	& .feather {
		display: inline-block;
		height: 3rem;
		width: 3rem;
	}

	& .big-link__content {
		position: absolute;
		text-align: center;
		width: 100%;
		top: 50%;
		transform: translateY(-50%);
	}

	& .big-link__cover {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(rgba(255, 255, 255, 0.15), rgba($color-gray, 0.5));
		background-repeat: repeat-x;
		transform: none;
		border-radius: inherit;
	}
}

.video-thumbnail {
	background-color: $color-gray;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	text-decoration: none;
	text-align: center;
	position: relative;
	border-radius: $radius-small;
	min-height: 16rem;

	& .video-thumbnail__cover {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(rgba($color-gray, 0.15), rgba($color-gray, 0.8));
		background-repeat: repeat-x;
		transform: none;
		border-radius: inherit;
	}

	& .feather {
		display: inline-block;
		width: 3rem;
		height: 3rem;
	}

	& .video-thumbnail__content {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
	}

	& .text-caption {
		color: white;
	}
}

.home-times .flex-row__item {
	flex-basis: 50%;

	@media screen and (min-width: 600px) {
		flex-basis: 50%;
	}

	@media screen and (min-width: 800px) {
		flex-basis: 33.333%;
	}
}

.home-row {
	display: block;

	@media screen and (min-width: 640px) {
		display: flex;

		& .flex-row__item {
			margin-right: 1rem;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.subtle-card {
	background-color: whitesmoke;
	padding: 0.5rem;
	border-radius: $radius-small;
}

/* Misc */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Helpers */
.text-centered {
	text-align: center;
}

.text-bold {
	font-weight: bold;
}

.text-caption {
	color: $color-lightgray;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1rem;
	margin: 0;
}

a.black-link {
	color: $color-gray;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.full-width {
	width: 100%!important;
	max-width: initial!important;
	margin-left: 0;
	margin-right: 0;
}

.vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.bg-cover {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.relative { position: relative; }

.white { color: white; }
.bg-gray { background-color: $color-gray; }

$mp-props: m p;
$mp-sides: t b l r;

$mp-props-f: margin padding;
$mp-sides-f: top bottom left right;

// https://css-tricks.com/snippets/sass/power-function/
@function pow($number, $exponent) {
	$value: 1;
  
	@if $exponent > 0 {
	  @for $i from 1 through $exponent {
		$value: $value * $number;
	  }
	}
  
	@return $value;
  }

@for $p from 1 through 2 {
	@for $m from 0 through 6 {
		@for $s from 1 through 4 {
			.#{nth($mp-props, $p)}#{nth($mp-sides, $s)}-#{$m} {
				#{nth($mp-props-f, $p)}-#{nth($mp-sides-f, $s)}: $m * 1rem!important;
			}
		}

		.#{nth($mp-props, $p)}-#{$m} {
			#{nth($mp-props-f, $p)}: $m * 1rem!important;
		}
	}
}

// 1, 2, 4, 8, 16, 32