@import 'material-shadows';

$font-asap: "Asap", sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 600;

$color-gray: #101010;
$color-lightgray: #595b5c;
$color-lightergray: #848688;
$color-blue: #00a1ab;
$color-lightblue: #72ced4;
$color-skyblue: #5091BF;
$color-red: #b32745;

$radius-small: 0.25rem;

$shadow-normal: 0px 0px 10px 0px rgba(0,0,0,0.25);

$input-height: 3.25rem;

$breakpoint-tablet: 700px;
$breakpoint-phone: 480px;
$breakpoint-laptop: 1000px;

$ease-sudden: cubic-bezier(0.000, 0.75, 0.000, 1.000);

$page-width: 56rem;
$page-padding: 1.5rem;

$hero-width: 100rem;
$main-width: 50rem;
$sidebar-width: 15rem;
$sidebar-gap: 4rem;

$content-padding: 2rem;
$content-width: $main-width + $sidebar-gap + $sidebar-width + ($content-padding * 2);
$content-trigger: $content-width + ($content-padding * 2);