@import 'material-shadows';

$font-open-sans: "Open Sans", Arial, Helvetica, sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$color-gray: #1b191a;
$color-lightgray: #595b5c;
$color-blue: #00a1ab;
$color-lightblue: #72ced4;

$radius-small: 0.25rem;

$input-height: 3.25rem;

$breakpoint-tablet: 700px;
$breakpoint-phone: 480px;