@import 'material-shadows';

$font-asap: "Asap", sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$color-gray: #101010;
$color-lightgray: #595b5c;
$color-lightergray: #848688;
$color-blue: #00a1ab;
$color-lightblue: #72ced4;

$radius-small: 0.25rem;

$input-height: 3.25rem;

$breakpoint-tablet: 700px;
$breakpoint-phone: 480px;
$breakpoint-laptop: 820px;

$ease-sudden: cubic-bezier(0.000, 0.75, 0.000, 1.000);